<div class="toolbar" role="banner">
  <div>
    <img class="mrm-logo" alt="mrm-mccann Logo"
      src="https://mrm-mccann.com/content/dam/mrm/We_Partner_Logos/new_MRM_4C.svg" />
  </div>
  <div>
    <span class="app-title">Welcome to Sean Baluha's MRM//McCann Code Test</span>
  </div>
</div>

<div class="content" role="main">
  <app-home></app-home>
</div>