.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 600;
    border-bottom: 10px solid #472683;

    @media screen and (max-width: 380px) {
        display: block;
        height: unset;
        .app-title {
        font-size: 15px;
        }
    }

    .mrm-logo {
        height: 45px;
        margin: 0 16px;
    }

    span {
        color: #474b55;
        font-size: 20px;
        font-family: 'DIN Bold',Calibri,Arial,sans-serif;
        font-style: normal;
        font-weight: 1000;
        line-height: 1;
        margin: 0;
        padding: 0;
    }
}

