.border {
    border: 1px solid #472683;
}

.bottom-border {
    border-bottom: 1px solid #472683;
}

.hazardous {
    text-transform: uppercase;

    &-true {
        color: red;
    }

    &-false {
        color: green;
    }
}